@import url("./estilo/header.css");

:root{
    --cor-de-fundo:#000000;
    --cor-da-font:#white;
    --cor-dos-titulos:#26940A;
    --cor-de-fundo-cabecalho:#0d8c47;
}

body{
    background-color: var(--cor-de-fundo);
}